:root {
    --primary-color: #F57C00;
    --primary-color-2: #fb8c00;
}

.bg-1 {
    background-color: var(--primary-color) !important;
}

.bg-2 {
    background-color: var(--primary-color-2) !important;
}

.color-1 {
    color: var(--primary-color) !important;
    caret-color: var(--primary-color) !important;
}

.color-2 {
    color: var(--primary-color-2) !important;
    caret-color: var(--primary-color-2) !important;
}

.border-color-1 {
    border-color: var(--primary-color) !important;
}