body::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar {
    width: 2px;
    border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(167, 167, 167, 0.5);
}

/* Horizontal */
*::-webkit-scrollbar:horizontal {
    height: 6px;
}

*::-webkit-scrollbar-thumb:horizontal {
    background-color: rgba(167, 167, 167, 0.5);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: rgba(167, 167, 167, 1);
}

/* Utilities */
.overflow-y-auto {
    overflow-y: auto !important;
}

.no-border-radius {
    border-radius: 0px !important;
}

.selection-disabled {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.fill-width {
  width: 100%;
}

/* Border */
.border-yl {
    border-left: 1px solid !important;
}

.border-yr {
    border-right: 1px solid !important;
}

.theme--light.border {
    border-color: rgba(0, 0, 0, 0.12) !important;
}

.theme--dark.border {
    border-color: rgba(255, 255, 255, 0.12) !important;
}

.border-xb {
    border-bottom: 1px solid !important;
}

/* Force wrap */
.v-card__text {
    word-break: break-word;
}

/* Minimize height */
div.v-subheader {
    height: 40px;
}

/* Header */
.center-y {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}

/* Menus */
.menus .v-list-item {
    min-height: 34px;
    min-width: 120px;
}

/* Image */
figure img {
    max-width: 100%;
}

/* Content format */
/* Table */
.message-item .table table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 4px;
}

.message-item .table table td, .table table th {
    min-width: 2em;
    padding: .4em;
    border: 1px solid #bfbfbf;
}

.message-item .table table thead th {
    background-color:  rgba(0, 0, 0, 0.12);
}

.message-item.theme--dark .table table thead th {
    background-color:  rgba(255, 255, 255, 0.12);
}

/* ToDo */
.message-item ul.todo-list {
    list-style: none;
    padding-left: 0;
}

.message-item ul.todo-list * {    
    display: flex;
    align-items: center;
}

.message-item ul.todo-list label.todo-list__label input {
    position: relative;
    height: 16px;
    width: 16px;
}

.message-item .todo-list__label__description {
    margin-left: 6px;
}

/* Blockquote */
.message-item blockquote {
    position: relative;
    overflow: hidden;
    padding-right: 4px;
    padding-left: 14px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 6px;
    font-style: italic;
    border-left: 4px solid #ccc;
}

/* P */
.v-application .message-item p {
    margin-bottom: 8px;
}

.v-application .message-item * > p:last-child {
    margin-bottom: 2px;
}

/* Mention */
.message-item .mention {
    color: #1e88e5;
}

.message-item .mention:hover {
    text-decoration: underline; 
    color: #1565C0;
    cursor: pointer;
}
