*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(167, 167, 167, 0.5);
}

/* Horizontol */

*::-webkit-scrollbar:horizontal {
    height: 6px;
}

*::-webkit-scrollbar-thumb:horizontal {
    background-color: rgba(167, 167, 167, 0.5);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: rgba(167, 167, 167, 1);
}

/* Border */
.border-y-l {
  border-left: 1px solid;
}

.border-y-r {
  border-right: 1px solid;
}

.theme--light.border-y {
  border-color: rgba(0, 0, 0, 0.12);
}

.theme--dark.border-y {
  border-color: rgba(255, 255, 255, 0.12);
}